.container--my-tasks {
	justify-content: center;
	flex-direction: row;
	min-height: 210px;
}

.container--my-tasks .tasks {
	max-width: 1000px;
}

.container--my-tasks .tasks__scroll {
	height: calc(100% - 48px);
}

.container--my-tasks .task-details {
	width: 40%;
	max-width: 600px;
	margin-left: var(--spaccing-2);
}

@media only screen and (max-width: 768px) {
	.container--my-tasks .task-details {
		width: auto;
		max-width: none;
	}
}