@media only screen and (max-width: 480px) {
	.hide-phone {
		display: none !important;
	}
}

@media only screen and (max-width: 768px) {
	.hide-tablet {
		display: none !important;
	}
}

@media only screen and (max-width: 1200px) {
	.hide-desktop {
		display: none !important;
	}
}

