[class^='icon'],
[class*=' icon'] {
	height: 1em;
 	width: 1em;
 	font-size: 16px;
 	display: flex;
 	background-repeat: no-repeat;
 	background-position: center;
}

.icon__hamburguer {
	background-image: url("/mngr/assets/icons/hamburguer.svg");
}

.icon__add {
	background-image: url("/mngr/assets/icons/add.svg");
}

.icon__search {
	background-image: url("/mngr/assets/icons/search.svg");
}

.icon__caret {
	margin: 0 var(--spaccing-1);
	background-image: url("/mngr/assets/icons/caret.svg");
}

.icon__caret--right {
	transform: rotate(-90deg);
}

.icon__config {
	background-image: url("/mngr/assets/icons/config.svg");
}

.icon__check {
	font-size: 22px;
	background-image: url("/mngr/assets/icons/check.svg");
}

.icon__calendar {
	background-image: url("/mngr/assets/icons/calendar.svg");
}

.icon__heart {
	background-image: url("/mngr/assets/icons/heart.svg");
}

.icon__branch {
	background-image: url("/mngr/assets/icons/branch.svg");
}

.icon__attachment {
	background-image: url("/mngr/assets/icons/attachment.svg");
}

.icon__more {
	background-image: url("/mngr/assets/icons/more.svg");
}

.icon__close {
	background-image: url("/mngr/assets/icons/close.svg");
}

.icon__circle {
	background-image: url("/mngr/assets/icons/circle.svg");
}